body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px; padding-top: 2cm;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
}

.construction-sign img {
    width: 60%;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.notify-form {
    justify-content: left;
    align-items: center;
}

.notify-form input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.notify-form1 {
    width: 25%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.notify-form button {
    padding: 10px 20px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 0 4px 4px 0;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.notify-form button:hover {
    background-color: #555;
}
